@layer firstLayer, secondLayer;

@layer firstLayer {
	/*1-0-0*/
	#addSpecificity {
		background-color: blue;
		color: white;
		border-width: 5px;
		border-style: dashed;
	}
}

@layer secondLayer {
	/*1-0-1*/
	p#addSpecificity {
		background-color: green;
		color: orange;
		border-width: 10px;
		border-style: dotted;
	}
}
