.box {
	border: 1px solid gray;
	width: 500px;
	height: 100px;
}
h2 {
	text-align: center;
	border: 3px solid black;
	background-color: lightblue;
	border-radius: 10px;
	width: 400px;
	padding: 20px;
	margin-left: 25px;
	margin-top: 15px;
	background-image: linear-gradient(
		105deg,
		rgb(0 249 255 / 100%) 39%,
		rgb(51 56 57 / 100%) 96%
	);
}
