.html {
	font-size: 10px;
}

body {
	width: 50rem;
	margin: 0 auto;
}

/*create the flex container*/
/*default flex-direction is row*/
section {
	display: flex;

	/*change the flex direction to column*/
	flex-direction: column;

	/*reverse the direction*/
	flex-direction: column-reverse;
	flex-direction: row-reverse;
}
h1 {
	text-align: center;
}
