.html {
	font-size: 10px;
}

body {
	width: 50rem;
	margin: 0 auto;
}
.parent {
	display: flex;
	border: 1px solid gray;
	height: 25rem;
	align-items: center;
	justify-content: center;
}
.child {
	border: 1px solid;
	background-color: rgb(77, 114, 152);
	color: white;
	font-weight: bold;
	width: 10rem;
	height: 5rem;
	text-align: center;
}
