.html {
	font-size: 10px;
}

body {
	width: 50rem;
	margin: 0 auto;
}
ul {
	flex-wrap: wrap;
	list-style: none;
	border: 1px solid gray;
	display: inline-flex;
	width: 50rem;
	height: 20rem;
	justify-content: center;
	gap: 5px;
}
li {
	border: 1px solid;
	border-radius: 10px;
	background-color: rgb(77, 114, 152);
	color: white;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	width: 5rem;
	height: 3rem;
	flex-grow: 1;
}
ul li:nth-child(n + 1):nth-child(-n + 4) {
	flex: 0 0 calc(25% - 45px);
}

ul li:nth-child(n + 5):nth-child(-n + 7) {
	flex: 0 0 calc(33.333% - 45px);
}
