.html {
	font-size: 10px;
}

body {
	width: 50rem;
	margin: 0 auto;
}
.container div {
	border: 1px solid lightskyblue;
	border-radius: 5px;
	background-color: aquamarine;
	padding: 5px;
	width: 10rem;
}
.container {
	border: 1px solid gray;
	padding: 20px;
	width: 40rem;

	/*create the grid - one column*/
	display: grid;

	/*repeat sections of the track*/
	/*simutaneously create the columsn and proportions*/
	grid-template-columns: repeat(3, 1fr);

	/*create gaps between columns*/
	gap: 20px;
}
