.html {
	font-size: 10px;
}

body {
	width: 50rem;
	margin: 0 auto;
}

/*margin collapsing*/
/* Collapsing margins is only relevant in the vertical direction*/
/*If two vertically adjacent elements both have a margin set on them and 
their margins touch, the larger of the two margins remains and the smaller 
one disappears. */
p {
	background: rgb(255, 84, 104 / 30%);
	border: 2px solid rgb(255 84 104);
	padding: 1rem;
	margin: 1rem;
}
span {
	background: white;
	border: 1px solid black;
}
