.html {
	font-size: 10px;
}

body {
	width: 50rem;
	margin: 0 auto;
}
p {
	background-color: rgb(207, 232, 220);
	border: 2px solid rgb(79, 185, 227);
	padding: 1rem;
	margin: 1rem;
	border-radius: 0.5rem;
}
.positioned {
	background: rgb(255 84 104 / 30%);
	border: 2px solid rgb(255 84 104);
}

/* move the affected element down and to the right;
think of it as the element being pushed on its left and top sides.
*/
.positioned {
	position: relative;
	top: 3rem;
	left: 3rem;
}
