.html {
	font-size: 10px;
}

body {
	width: 50rem;
	margin: 0 auto;
}
p {
	background-color: rgb(207, 232, 220);
	border: 2px solid rgb(79, 185, 227);
	padding: 1rem;
	margin: 1rem;
	border-radius: 0.5rem;
}
.positioned {
	background: rgb(255 84 104 / 30%);
	border: 2px solid rgb(255 84 104);
}

/* completely remove the element from normal flow 
the offsets have been calculated from the top and left of the page
*/
.positioned {
	position: absolute;
	top: 3rem;
	left: 3rem;
}
