body {
	font-family: sans-serif;
	width: 80%;
}

.container {
	border: 2px solid grey;
	padding: 2px;
	margin: 50px 50px;
}
p {
	line-height: 2;
	font-size: small;
	margin-left: 10px;
}

p:nth-of-type(1) {
	font-size: 150%;
}
p:nth-of-type(1)::first-line {
	color: red;
}
a {
	text-decoration: none;
}

a:link {
	color: orange;
	font-weight: bold;
}
a:visited {
	color: rebeccapurple;
}
a:hover {
	color: hotpink;
	text-decoration: none;
}
tr > th {
	align-items: center;
	justify-content: center;
}
th {
	text-align: left;
	padding: 5px;
}
tr:nth-last-of-type(odd) {
	background-color: #333;
	color: white;
}
td {
	padding: 5px;
}
