img {
	border: 5px solid darkblue;
}
.wrapper {
	display: flex;
}
.box {
	border: 5px solid darkblue;
	height: 150px;
	width: 200px;
	margin-top: 50px;
	padding: 10px;
}
.text {
	margin-left: 50px;
	font-size: large;
	overflow-y: scroll;
}

.wrapper2 {
	display: flex;
}
.outside {
	border: 5px solid darkblue;
	margin-top: 50px;
	height: 150px;
	width: 200px;
}
.inside {
	border: 3px solid darkblue;
	width: 70%;
	height: 70%;
}
.xyz {
	border: 5px solid darkblue;
	width: 200px;
	height: 150px;
	margin-top: 50px;
	margin-left: 80px;
}
.abc {
	border: 5px solid darkblue;
	width: 50%;
	height: 50%;
	overflow: scroll;
}
/*When you use margin and padding set in percentages, the value is 
calculated from the inline size of the containing block — 
therefore the width when working in a horizontal language. 
In our example, all of the margins and padding are 10% of the width. */
.mainbox {
	border: 3px solid gray;
	margin-top: 75px;
	width: 500px;
	height: 300px;
}
.aaa {
	border: 5px solid darkblue;
	margin: 10%;
	padding: 10%;
}
.wrapper3 {
	margin-top: 75px;
	border: 3px solid gray;
	width: 400px;
	height: 200px;
	display: flex;
}
/*min and max height*/
.mmm {
	border: 5px solid darkblue;
	max-width: 150px;
	max-width: 50%;
	overflow: auto;
}
.min {
	border: 5px solid darkblue;
	max-width: 50%;
	min-height: 50%;
	overflow: scroll;
	margin-left: 20px;
}
.wrapper4 {
	border: 3px solid green;
	width: 450px;
	height: 400px;
	margin-top: 50px;
	display: flex;
}
.star1 img {
	width: 75px;
}
.star2 img {
	width: 100%;
}
.star3 {
	max-width: 100%;
}
